
<div class="fixed top-0 w-full h-10 bg-zinc-800 flex flex-row place-content-around items-center">
    <a href="/notes/">Home</a>
    <a href="/notes/about/">About</a>
    <a href="/notes/tags/">Tags</a>
</div>